* {
  padding: 0;
  margin: 0;
}

a,
p {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  color: #ffffff;
}

h1 > span {
  font-family: Druk Cyr;
  font-weight: 500;
  color: #ffffff;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(80%, white), to(#212025));
  background-image: -o-linear-gradient(left, white 80%, #212025 100%);
  background-image: linear-gradient(90deg, white 80%, #212025 100%);
}

h3 {
  color: #ffffff;
}

body {
  background: #212025;
  padding-top: 80px;
}

.bg-gradient {
  background: -o-linear-gradient(209.05deg, #853FF8 25.01%, #AF29F7 87.93%);
  background: linear-gradient(240.95deg, #853FF8 25.01%, #AF29F7 87.93%);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  border-radius: 53px;
  padding: 0 20px;
  margin: auto;
  height: 50px;
  border: none;
}

.button_outline {
  border: 1px solid #976EE5;
  background: transparent;
}

.button_secondary {
  background-color: #fff;
  color: #212121;
}

.button_primary {
  height: 40px;
  width: auto;
  margin: auto;
  border-radius: 50px;
  background: -o-linear-gradient(209.05deg, #853FF8 25.01%, #AF29F7 87.93%);
  background: linear-gradient(240.95deg, #853FF8 25.01%, #AF29F7 87.93%);
}

.padding-vertical {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.decor_right {
  position: relative;
}

.decor_right:after {
  content: '';
  display: block;
  position: absolute;
  top: 15%;
  right: 0;
  width: 40%;
  height: 100%;
  background: url("../img/dark-box_decor_R.png") 0 0/100% no-repeat;
  z-index: -1;
}

.decor_left {
  position: relative;
}

.decor_left:before {
  content: '';
  display: block;
  position: absolute;
  top: 15%;
  left: -15%;
  width: 40%;
  height: 100%;
  background: url("../img/dark-box_decor_L.png") 0 0/100% no-repeat;
  z-index: -1;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 20px;
  height: 80px;
  width: 100%;
  background: #212025;
  border-bottom: 1px solid #FFFFFF40;
  z-index: 50;
  color: #ffffff !important;
}

header nav {
  height: inherit;
}

header nav .nav-menu .nav-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  height: 100%;
  min-width: 150px;
  margin: auto;
  font-family: Proxima Nova, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

header nav .nav-menu .nav-menu__item:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(151, 110, 229, 0.5)), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(top, rgba(151, 110, 229, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(180deg, rgba(151, 110, 229, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  border-bottom: 2px solid #976EE5;
}

header .burger .burger__item {
  margin: auto;
}

.home-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-banner .banner__text-box {
  width: 40%;
}

.home-banner .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
  position: relative;
}

.home-banner .box .banner__image {
  -webkit-filter: drop-shadow(0px 7px 100px #976EE5);
          filter: drop-shadow(0px 7px 100px #976EE5);
}

.home-banner .box .banner__image > img {
  z-index: 1;
}

.reklama-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: colu;
          flex-direction: colu;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: flex;
  height: 500px;
  background: url("../img/ligth-box_background.png") 0 0/100% no-repeat;
}

.reklama-banner .button_secondary img {
  fill: #212121;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-form .contact-form__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #0000001a;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 25px;
  padding: 30px 100px;
  border: 1px solid #853FF8;
}

.contact-form .contact-form__box .contact-form__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 10px;
}

.contact-form .contact-form__box .contact-form__column h1 span {
  font-weight: 500;
  font-size: 30px;
  line-height: 125%;
}

.contact-form .contact-form__box .contact-form__column .social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form .contact-form__box .contact-form__column .social-box .social-box__item {
  width: 50px;
  height: 50px;
}

.contact-form .contact-form__box .contact-form__column .social-box .social-box__item img {
  width: 40px;
}

.contact-form .contact-form__box .contact-form__column input {
  padding-left: 60px;
  height: 60px;
  position: relative;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 52px;
}

.contact-form .contact-form__box .contact-form__column input:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 0;
  display: block;
  width: 20px;
  height: 20px;
  z-index: 10;
}

.contact-form .contact-form__box .contact-form__column .name:before {
  background: url("../img/icons.svg#label-name") 0 0/100% no-repeat;
}

footer {
  background-color: #17161A;
}

footer .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
}

footer .footer__menu {
  width: 100%;
}

footer .footer__menu .footer__icon {
  width: 20px;
}

footer .footer__menu_top {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 20px;
}

footer .footer__menu_top .footer__column-2,
footer .footer__menu_top .footer__column-3,
footer .footer__menu_top .footer__column-4 {
  row-gap: 15px;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
}

footer .footer__menu_bottom .footer__column-1,
footer .footer__menu_bottom .footer__column-2 > li {
  color: #ffffff;
  opacity: .5;
}

footer .footer__menu_bottom .footer__column-1:hover,
footer .footer__menu_bottom .footer__column-2 > li:hover {
  opacity: 1;
}

footer .footer__menu_bottom .footer__column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

@media (min-width: 576px) {
  .padding-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  header nav .nav-menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  header .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25px;
    height: 15px;
  }

  .home-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .home-banner .box {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .padding-container {
    padding-left: 12vh;
    padding-right: 12vh;
  }

  header nav .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: inherit;
  }

  header .burger {
    display: none;
  }

  .home-banner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  footer .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}