* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;

}
body {
	display: grid;
	justify-content: center;
	margin: auto;
	text-align: center;
}
nav {
	float: right;
	display: inline-flex;
	align-items: center;
	list-style-type: none;
	margin: 10px;
	background-color: #cdcdcd;
	border-radius: 4px;
	height: 40px;
	padding: 10px;
}

nav ul li {display: inline;
	font-size: 18px;
	margin: 10px;
	}
header{
	display: grid;
	justify-content: center;
}
.t {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 700px;
	height: 300px;
	background-color: #c4c4c4;
	border-radius: 30px;
	font-size: 30px;
	color: #ffffff;
}
#portfolio{
	display: flex;
	justify-content: center;
}
.slider{
	width: 500px;
	display: flex;
	justify-content: center;
}

.block-title{
		display: flex;
		justify-content: center;
		font-size: 24px;
		width: ;
		color: #628DD9;
		margin-bottom: 40px;
		margin: auto;
	}
	.block-title:hover{
		color: #91C449;
	}
	/* .block-title:after {
		content: "";
		width: 60px;
		height: 10px;
		color: red;
		border: 0px solid black;
		vertical-align: middle;
		box-sizing: border-box;
		border-width: 0px 0;
	}
	
	.block-title:before {
		content: "";
		
	}
	 */#about {
	width: 50%;
	height: auto;
	display: flex;
	justify-content: center;
	}
	.block-content{
		display: flex;
		justify-content: center;
	}